@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smaller Devices */
.Grid_Custom_Classes {
  grid-template-columns: repeat(16, 20px);
  grid-template-rows: repeat(16, 20px);
}

/* sm */
@media (min-width: 640px) {
  .Grid_Custom_Classes {
    grid-template-columns: repeat(16, 25px);
    grid-template-rows: repeat(16, 25px);
  }
}

/* lg */
@media (min-width: 1024px) {
  .Grid_Custom_Classes {
    grid-template-columns: repeat(20, 30px);
    grid-template-rows: repeat(20, 30px);
    width: max-content;
  }
}
