@tailwind base;
@tailwind components;
@tailwind utilities;

.Grid_Custom_Classes {
  grid-template-columns: repeat(20, 30px);
  grid-template-rows: repeat(20, 30px);
  width: max-content;
}

.snake_head {
  /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 100% 100%, 0 100%, 0% 50%); */
  background-image: url("../../public/snake-head.svg");
}
